<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="src/components/bootstrap.php"
         cacheDirectory="var/cache/phpunit"
         colors="true"
         failOnDeprecation="true"
         failOnNotice="true"
         failOnWarning="true"
>
    <source>
        <include>
            <directory>src</directory>
        </include>
        <exclude>
            <directory>src/mail</directory>
            <directory>src/migrations</directory>
            <directory>src/views</directory>
        </exclude>
    </source>
    <testsuites>
        <testsuite name="unit">
            <directory>tests/unit</directory>
        </testsuite>
    </testsuites>
</phpunit>
